@charset "UTF-8";
html,
body,
p,
dt,
dd,
figure,
fieldset,
blockquote,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

button,
input,
select {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

html {
  font-size: 15px;
  box-sizing: border-box;

  --colors-muted: #e2e8f0;
}

body {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC",
    "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  /* background-color: #fffff8; */
  color: #111;
  padding: 0 1rem;
  counter-reset: sidenote-counter;
}
#root {
  margin-left: auto;
  margin-right: auto;
  max-width: 90rem;
}
h2,
h3 {
  border-bottom: 1px solid rgb(225, 228, 232);
}

h1 {
  font-weight: 500;
  padding-bottom: 1.5rem;
  font-size: 1.7rem;
  line-height: 1.1;
}

h2 {
  font-style: italic;
  font-weight: 600;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  line-height: 1.1;
}

h3 {
  font-style: italic;
  font-weight: 600;
  padding-top: 1.4rem;
  font-size: 1.3rem;
  padding-bottom: 1.4rem;
  line-height: 1.1;
}

hr {
  display: block;
  height: 1px;
  width: 55%;
  border: 0;
  border-top: 1px solid var(--colors-muted);
  margin: 1em 0;
  padding: 0;
}
.articles {
  display: flex;
  flex-wrap: wrap;
}
article {
  padding-bottom: 2rem;
  max-width: 40rem;
}

p,
dl,
ol,
ul {
  font-size: 1.1rem;
  line-height: 2rem;
}

ul {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
}
p {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  padding-right: 0;
  vertical-align: baseline;
}

blockquote {
  padding: 1px 0 1px 1.5rem;
  margin: 1.5rem 0;
  font-size: 1.4rem;
  font-weight: 500;
  border-left: 5px solid #eee;
  border-color: #6c757d;
}
blockquote p {
  margin: 0.5rem 0;
}

dt:not(:first-child),
li:not(:first-child) {
  margin-top: 0.25rem;
}
.navbar li:last-child {
  margin-right: 0;
}
figure {
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin: 0 0 3em 0;
}

figcaption {
  float: right;
  clear: right;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.6;
  vertical-align: baseline;
  position: relative;
}

figure.fullwidth figcaption {
  margin-right: 24%;
}

/* Links: replicate underline that clears descenders */
a:link,
a:visited {
  color: inherit;
}

a:link,
a:visited,
a:hover {
  text-decoration: none;
  background: -webkit-linear-gradient(#fffff8, #fffff8),
    -webkit-linear-gradient(#fffff8, #fffff8),
    -webkit-linear-gradient(currentColor, currentColor);
  background: linear-gradient(#fffff8, #fffff8),
    linear-gradient(#fffff8, #fffff8),
    linear-gradient(currentColor, currentColor);
  -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  text-shadow: 0.03em 0 #fffff8, -0.03em 0 #fffff8, 0 0.03em #fffff8,
    0 -0.03em #fffff8, 0.06em 0 #fffff8, -0.06em 0 #fffff8, 0.09em 0 #fffff8,
    -0.09em 0 #fffff8, 0.12em 0 #fffff8, -0.12em 0 #fffff8, 0.15em 0 #fffff8,
    -0.15em 0 #fffff8;
  background-position: 0% 93%, 100% 93%, 0% 93%;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  a:link {
    background-position-y: 87%, 87%, 87%;
  }
}

a:link::selection,
a:link::-moz-selection {
  text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe,
    0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe,
    -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe,
    -0.15em 0 #b4d5fe;
  background: #b4d5fe;
}

/* Sidenotes, margin notes, figures, captions */
img {
  max-width: 100%;
}

code,
pre > code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1rem;
  line-height: 1.42;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. See https://github.com/edwardtufte/tufte-css/issues/81#issuecomment-261953409 */
}

h1 a:link,
h1 a:visited {
  background: none;
}
a.hover:hover {
  text-shadow: none;
  text-decoration: underline;
}
a.hover:hover {
  text-shadow: none;
  text-decoration: underline;
}

h1 > code,
h2 > code,
h3 > code {
  font-size: 0.8em;
}
pre {
  color: rgb(57, 58, 52);
  background-color: rgb(246, 248, 250);
  margin-top: 0px;
  margin-bottom: 16px;
  padding: 16px;
  border: 0px;
  border-radius: 6px;
}

pre > code {
  font-size: 0.9rem;
  display: block;
  overflow: auto;
}

.iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 48rem) {
  hr,
  section > p,
  section > footer,
  section > table {
    width: 100%;
  }

  pre > code {
    width: 97%;
  }

  section > dl,
  section > ol,
  section > ul {
    width: 90%;
  }

  figure {
    max-width: 90%;
  }

  figcaption,
  figure.fullwidth figcaption {
    margin-right: 0%;
    max-width: none;
  }

  label {
    cursor: pointer;
  }

  div.table-wrapper,
  table {
    width: 85%;
  }

  img {
    width: 100%;
  }
}
:target {
  scroll-margin-top: 50px;
}

:target::before {
  content: "";
  display: block;
  height: 50px;
  margin-top: -50px;
}
.navbar {
  background-color: #ffffff;
  top: 0;
  font-size: 1.2rem;
  z-index: 1;
  position: sticky;
  position: -webkit-sticky;
  height: 45px;
  display: flex;
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--colors-muted);
}
.sm {
  font-size: 1rem;
}
.decoration-less,
.decoration-less:link,
.decoration-less:visited {
  background: none;
}
article > h1 {
  padding-bottom: 0rem;
}

.navbar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  margin-right: 1rem;
}
.nav {
  display: flex;
}

.nav-shadow {
  content: "";
  top: 45px;
  -webkit-transform: translateY(-45px);
  -moz-transform: translateY(-45px);
  -ms-transform: translateY(-45px);
  transform: translateY(-45px);
  left: 0;
  right: 0;
  height: 45px;
  position: -webkit-sticky;
  position: sticky;
  box-shadow: 0 12px 18px -3px rgb(0 0 0 / 3%);
  -webkit-transition: opacity 250ms linear;
  transition: opacity 250ms linear;
  opacity: 1;
}
.body-zone {
  padding-top: 1rem;
  display: flex;
}

.sidebar {
  padding: 1rem 1rem 1rem 1rem;
  flex-shrink: 0;
  font-size: 1rem;
}
.sidebar p {
  font-size: 1rem;
}
.sidebar ul {
  font-size: 1rem;
}
.sidebar h2,
.sidebar h3 {
  border-bottom: none;
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 0;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
}
.sidebar ul {
  margin-top: 0;
  margin-bottom: 0;
}
ul.sidebar-tags {
  margin-left: 0;
  padding-left: 0;
}
.sidebar-tags li {
  display: inline-block;
  margin-right: 0.5rem;
}

.mute {
  color: rgb(88, 96, 105);
  font-size: 1rem;
}
.mute p {
  font-size: 1rem;
}
.mute:link,
.mute:visited {
  color: rgb(88, 96, 105);
}

.pagination ul {
  font-size: 1.4rem;
}
.pagination ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.pagination li {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 3rem;
}
.navbar a {
  margin-right: 0.5rem;
  position: relative;
}
.navar a:link {
  background: none;
}
a.zola-anchor {
  font-size: 1.2rem;
  margin-left: 0.5rem;
}
a.zola-anchor:link {
  background: none;
}
.sidebar-table-content {
  min-width: 20rem;
  max-width: 45rem;
  color: rgb(88, 96, 105);
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(225, 228, 232);
}
.sidebar-table-content h3 {
  font-weight: 600;
  border-bottom: none;
}

.sidebar-table-content ul {
  margin: 0;
}
.sidebar-table-content > ul {
  padding-left: 1rem;
}
.brand {
  font-weight: 600;
}
.navbar a:link,
.navbar a:visited {
  background: none;
}
.bio {
  line-height: 1.5;
}

.list-meta {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 48rem) {
  .only-show-small {
    display: none;
  }
  .sidebar {
    padding: 0 0 1rem 2rem;
    width: 24rem;
  }
}

@media print {
  .body-zone {
    flex-direction: column;
  }
}
