{%- import "macros.html" as macro -%}
{%- set_global target_lang = "en" -%}
{%- set_global lang_prefix_path = "/" -%}
{%- if config.default_language != lang -%}
  {%- set_global target_lang = "zh" -%}
  {%- set_global lang_prefix_path = "/"~lang~"/" -%}
{%- endif -%}
{%- set_global file_lang_path = "" -%}
{%- if config.default_language != lang -%}
  {%- set_global file_lang_path = "." ~ lang -%}
{%- endif -%}
{%- if config.mode=="build" -%}
  {%- set_global css = load_data(path="static/site/styles/site.css") -%}
{%- endif -%}
<!DOCTYPE html>
<html lang="{% if page.extra.lang %}{{ page.extra.lang }}{% else %}{{ lang }}{% endif %}" itemscope itemtype="http://schema.org/Blog">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>
    <title>
      {% block title %}
        {{ config.title }}
      {% endblock title %}
    </title>
    {%- if config.mode!="build" -%}
      <link rel="stylesheet" href="{{ get_url(path="site/styles/site.css", trailing_slash=false,cachebust=true) | safe }}">
    {%- endif -%}
    <link rel="me" href="https://twitter.com/TheOwenYoung"/>
    <link rel="me" href="https://twitter.com/OwenYoungZh"/>
    <link rel="me" href="https://github.com/theowenyoung"/>
    <link rel="me" href="mailto:owen@owenyoung.com"/>
    <link rel="webmention" href="https://webmention.io/www.owenyoung.com/webmention"/> {% block before_meta %}{% endblock before_meta %}
    <meta name="description" itemprop="about" content="{% block description -%}{{ config.description }}{% endblock description -%}"/>
    <meta name="keywords" itemprop="keywords" content="{{ trans(key="keywords",lang=lang) }}"/>
    <meta name="author" itemprop="author" content="{{ config.extra.author }}"/>
    <meta itemprop="headline" content="{% block headline %}{{ config.title }}{% endblock headline %}"/>
    <meta itemprop="copyrightYear" content="{{ now() | date(format="%Y") }}"/>
    <link rel="icon" href="{{ get_url(path="site/images/favicon-32x32.png",cachebust=true) }}" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ get_url(path="site/images/apple-icon-57x57.png",cachebust=true) }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ get_url(path="site/images/apple-icon-60x60.png",cachebust=true) }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ get_url(path="site/images/apple-icon-72x72.png",cachebust=true) }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ get_url(path="site/images/apple-icon-76x76.png",cachebust=true) }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ get_url(path="site/images/apple-icon-114x114.png",cachebust=true) }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ get_url(path="site/images/apple-icon-120x120.png",cachebust=true) }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ get_url(path="site/images/apple-icon-144x144.png",cachebust=true) }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ get_url(path="site/images/apple-icon-152x152.png",cachebust=true) }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ get_url(path="site/images/apple-icon-180x180.png",cachebust=true) }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ get_url(path="site/images/android-icon-192x192.png",cachebust=true) }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ get_url(path="site/images/favicon-32x32.png",cachebust=true) }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ get_url(path="site/images/favicon-96x96.png",cachebust=true) }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ get_url(path="site/images/favicon-16x16.png",cachebust=true) }}">
    <meta name="msapplication-TileColor" content="{{ config.extra.theme_color }}"/>
    <meta name="msapplication-TileImage" content="{{ get_url(path="site/images/ms-icon-144x144.png",cachebust=true) }}">
    <meta name="theme-color" content="{{ config.extra.theme_color }}"/>
    <meta property="og:title" content="{% block ogtitle %}{{ config.title }}{% endblock ogtitle %}"/>
    <meta property="og:description" content="{% block ogdesc %}{{ config.description }}{% endblock ogdesc %}"/>
    <meta property="og:url" content="{% block ogurl %}{{ current_url }}{% endblock ogurl %}"/>
    <meta property="og:site_name" content="{{ config.title }}"/>
    {% if config.extra.image %}
      <meta property="og:image" content="{% block ogimg %}{{ config.extra.image | safe }}{% endblock ogimg %}"/>
    {% endif %}
    <meta name="twitter:card" content="summary"/>
    {% if config.extra.twitter_user %}
      <meta name="twitter:site" content="{{ config.extra.twitter_user }}"/>
      <meta name="twitter:creator" content="{{ config.extra.twitter_user }}"/>
      <meta name="twitter:image:alt" content="{% block ogaltimg %}{{ config.title }}{% endblock ogaltimg %}"/>
    {% endif %}
    {% block rss %}
      <link rel="alternate" type="application/atom+xml" title="{{ config.title }} - RSS" href="{{ get_url(path="atom.xml") }}">
    {% endblock rss %}
    {%- if config.mode=="build" -%}
      <style>{{css | safe}}</style>
    {%- endif -%}
    <link rel="manifest" href="{{ get_url(path="site/images/manifest.json") }}" >
    {% if config.extra.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ config.extra.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }
        gtag("js", new Date());
        gtag("config", "{{ config.extra.google_analytics }}");
      </script>
    {% endif %}
    {% block post_meta %}{% endblock post_meta %}
  </head>
  <body>
    <section id="top"></section>
    <section id="root">
      <nav class="navbar">
        <div class="navbar-inner justify-between">
          <div>
            <a class="brand" href="{{ config.base_url~lang_prefix_path }}">
              <img class="icon" alt="Owen" src="{{ get_url(path="site/images/favicon-96x96.png",cachebust=true) }}">
            </img>
          </a>
        </div>
        <div>
          <ul class="flex menu list-none items-center justify-center">
            <li>
              <a
                class="flex border-muted rounded-full justify-center items-center icon no-underline no-hover-underline"
                title="Search"
                href="/search/">
                <span class="text-sm">🔍</span>
              </a>
            </li>
            {% if lang=='zh' %}
              <li>
                <a
                  class="flex border-muted rounded-full justify-center items-center icon no-underline no-hover-underline {% if lang=='en'
                    -%}muted{% endif -%}"
                  title="English Site"
                  href="/en/">
                  <span class="text-sm">EN</span>
                </a>
              </li>
            {% endif %}
            {% if lang=='en' %}
              <li>
                <a
                  class="flex border-muted rounded-full justify-center items-center icon no-underline no-hover-underline {% if lang=='zh'
                    -%}muted{% endif -%}"
                  title="中文站点"
                  class="only-show-small"
                  href="/">
                  <span class="text-sm">中</span>
                </a>
              </li>
            {% endif %}
            <div class="nav-divider"></div>
            <li>
              <a
                class="flex border-muted rounded-full justify-center items-center icon no-underline no-hover-underline"
                title="Back to Top"
                href="#top">
                <span class="">
                  &#8593;</span>
              </a>
            </li>
            <li>
              <a
                class="flex border-muted rounded-full justify-center items-center icon no-underline no-hover-underline"
                title="Go to Bottom"
                class="only-show-small"
                href="#bottom">
                <span class="">
                  &#8595;</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
      {% block body_zone -%}
      <main class="body-zone flex justify-between flex-1">
        <section class="main flex-1 py">
          <div class="main-inner"> {% block main %}{% endblock main %}
            </div>
          </section>
          {% block sidebar %}
          <aside class="sidebar px">
            {% block sidebar_top %}
          {% endblock sidebar_toop %}
          <div class="display-none h-card pt">
            <img class="u-photo icon" alt="Owen" src="{{ get_url(path="site/images/favicon-96x96.png",cachebust=true) }}"/>
            <a class="p-name u-url" href="{{ config.base_url }}">{{ config.extra.author }}</a>
            <p class="p-note">{{ config.extra.bio }}</p>
          </div>
          <h2>
            <a class="no-underline" href="{{ lang_prefix_path }}categories/">{{ trans(key="label_categories",lang=lang) }}</h2>
          </a>
          <ul>
            {% set categories = get_taxonomy(kind="categories",lang=lang) %}
            {% for cat in
            categories.items %}
              {% set url = get_taxonomy_url(kind="categories",lang=lang, name=cat.name) %}
              <li>
                <a class="no-underline" href="{{ url }}">{{ cat.name }}({{ cat.pages | length }})</a>
              </li>
            {% endfor %}
          </ul>
          {% set custom_sidebar = get_page(path="pages/sidebar"~file_lang_path~".md") %}
          {{ custom_sidebar.content | safe }}
          <h2>
            <a class="no-underline" href="{{ lang_prefix_path }}tags/">{{ trans(key="label_tags",lang=lang) }}</a>
          </h2>
          <ul class="list-none text-sm">
            {% set tags = get_taxonomy(kind="tags",lang=lang) %}
            {% for tag in tags.items -%}
              {% set url = get_taxonomy_url(kind="tags",lang=lang, name=tag.name) -%}
              <li class="inline">
                <a class="no-underline" href="{{ url }}">{{ tag.name }}({{ tag.pages | length }})</a>
              </li>
            {% endfor %}
          </ul>
          <h2>
            <a class="no-underline" href="https://indieweb.org/">IndieWeb</a>
          </h2>
          <div class="pb">
            <a href="https://xn--sr8hvo.ws/%F0%9F%93%AE%F0%9F%86%99%F0%9F%93%A9/previous">←</a>
            An IndieWeb Webring 🕸💍
            <a href="https://xn--sr8hvo.ws/%F0%9F%93%AE%F0%9F%86%99%F0%9F%93%A9/next">→</a>
          </div>
        </aside>
      {% endblock sidebar %}
    </main>
  {% endblock body_zone -%}
</section>
<section id="bottom"></section>
{% block before_body_end %}{% endblock before_body_end %}</body></html>