{% extends "base.html" -%} 
{% block title %}{{trans(key="label_books",lang=lang)}} -  {{ config.title }}{% endblock title %}
{% block ogtitle %}{{trans(key="label_books",lang=lang)}} -  {{ config.title }}{% endblock ogtitle %}
{% block headline %}{{trans(key="label_books",lang=lang)}} -  {{ config.title }}{% endblock headline %}
{% block description %}{{trans(key="label_books",lang=lang)}}{% endblock description %}
{% block main -%}

{% if paginator %}
{% set_global section_pages = paginator.pages %}
{% set_global section_content = section.content %}

{% else %}
{% set_global book_section = get_section(path="blog/books/_index.md") -%}
{% set_global section_pages = book_section.pages | sort(attribute="extra.rating") %}
{% set_global section_pages = section_pages | reverse %}
{% set_global section_content = book_section.content %}
{% endif %}
    <setion>
      {{ section_content | safe}}
    </setion>
    <section >
      {% for page in section_pages %}
      <article>
        <h1 class="no-border pb-sm"><a class="no-underline" href="{{ page.permalink }}">{{ page.title }}</a></h1>
        <div class="muted">
          <time pubdate>{{ page.date | date(format="%Y-%m-%d") }}</time> 
          {% if page.extra.author %}
          &nbsp;
        <span>{{trans(key="label_book_author",lang=lang)}}：{{ page.extra.author }} </span>
    
          {% endif %}
      
          </a>
          &nbsp;
          <span>{{ trans(key="label_rating",lang=lang) }}：</span>
          <span>{{page.extra.rating }}/10</span>
        </div>
        <div>{{ page.summary | safe }}</div>
        {% if page.taxonomies.tags %}
        <p>
          {% for tag in page.taxonomies.tags %}
          <a class="muted text-sm no-underline" href="{{ get_taxonomy_url(kind="tags",lang=lang, name=tag) }}">#{{ tag }}</a>{% if page.taxonomies.tags | length > 1 %}
          {% if loop.index != page.taxonomies.tags | length %}&nbsp;{% endif %}{% endif %}
        {% endfor %}
        </p>
       
        {% endif %}
        <div class="muted">
          <section>
            <a class="text text-color" href="{{ page.permalink }}#continue-reading"><span>{{ trans(key="label_read_more",lang=lang) }} </span>
              <span>{{ page.reading_time }} min &rarr;</span> </a>
          </section>
         <div>
        <hr>
        <p></p>
      </article>
      {% endfor %} 
      {% if paginator %}
      {{macro::paginator(ref=paginator, extra=config.extra) }}
      {% endif %}
    </section>
{% endblock main -%}
