{% extends "base.html" -%}
{% block before_meta %}
  {% if config.extra.meilisearch_url %}
    {%- if config.mode=="build" -%}
    {%- set_global meilicss = load_data(path="static/site/styles/docs-searchbar.min.css") -%}
    {%- else -%}
      <link rel="preload" href="{{ get_url(path="site/styles/docs-searchbar.min.css", trailing_slash=false,cachebust=true) | safe }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <noscript>
        <link rel="stylesheet" href="{{ get_url(path="site/styles/docs-searchbar.min.css", trailing_slash=false,cachebust=true) | safe }}">
      </noscript>
    {%- endif -%}
  {% endif %}
{% endblock before_meta %}
{% block post_meta %}
  {%- if config.mode=="build" -%}
    <style>{{meilicss | safe}}</style>
  {%- endif -%}
{% endblock post_meta %}

{% block main %}

  {% set_global note_pages = [] -%}
  {% set_global all_blog_pages = get_section(path="blog/_index"~file_lang_path~".md") -%}
  {% set_global note_pages_term = get_taxonomy_term(kind="categories", term="Notes")  %}
  {% set_global note_pages =  note_pages_term.pages | sort(attribute="updated") | reverse %}
  {% set_global pinned_pages_term = get_taxonomy_term(kind="tags", term="Pin")  %}
  {% set_global pinned_pages =  pinned_pages_term.pages | sort(attribute="updated") | reverse %}
  {% set_global story_pages_term = get_taxonomy_term(kind="tags", term="Story")  %}
  {% set_global story_pages =  story_pages_term.pages | sort(attribute="updated") | reverse %}

<div class="wrapper">
    <header class="index-header">
      <div class="stories is-flex">
        <div>
          <div class="story">
             <div class="story-header">
               <div class="story-content">
                 <h1><a href="/">Owen's Blog</a></h1>
                 <ul>
                   <li><a href="/about">RSS</a></li>
                   <li><a href="/tags">Categories</a></li>
                   <li><a href="/categories">Archive</a></li>
                   <li><a href="/about">Twitter</a></li>
                   <li><a href="/tags">即刻</a></li>
                   <li><a href="/categories">Changelog</a></li>
                 </ul>
               </div>
             </div>
          </div>
        </div>
        {% for page in pinned_pages | concat(with=story_pages) %}
            {% set raw_content = load_data(path=page.relative_path) %}
            {% set data = raw_content | split(pat='---')  %}
            {% set frontmatter = '---' ~ data[1] ~ '---' %}
            {% set raw_markdown = raw_content | replace(from=frontmatter, to='') | trim %}
            <div>
              <div class="story-wrapper">
                <div class="story">
                   <div class="story-header">
                     <div class="story-title">{{ page.title | safe }}</div>
                     <div class="story-content">{{ raw_markdown | split(pat="\n") | slice(end=15) | join(sep="\n") | markdown | safe }}</div>
                   </div>
                </div>
                <a href="{{ page.permalink }}" class="story-link" aria-label="{{ page.title }}"></a>
              </div>
            </div>
        {% endfor %}
      </div>
  </header>

    {% for page in all_blog_pages.pages | slice(start=0,end=50) %}
          {{ macro::post_max(page=page,index=loop.index) }}
    {% endfor %}

</div>


{% endblock main %}
