{% macro post_max(page) %}
<article>
  <section class="muted pt">
    <time pubdate>{{ page.date | date(format="%Y-%m-%d") }}</time>
    {% if page.taxonomies.categories %}
    <span>{{trans(key="label_published_on",lang=lang)}} </span>
    <a class="no-underline" href="{{ get_taxonomy_url(kind="categories",lang=lang, name=page.taxonomies.categories[0]) }}">
      {{ page.taxonomies.categories[0] }}
    </a> 
  {% endif %}
    </section>
  <h1 class="no-border pb-sm"><a class="no-underline " href="{{ page.permalink }}">{{ page.title }}</a></h1>

  {% if page.summary -%}
  <div>{{ page.summary | safe }}</div>
  {% elif page.description -%}
  <p>{{ page.description }}</p>
  {% endif -%}
  {% if page.taxonomies.tags %}
  <p>
    {% for tag in page.taxonomies.tags %}
    <a class="muted text-sm no-underline" href="{{ get_taxonomy_url(kind="tags",lang=lang, name=tag) }}">#{{ tag }}</a>{% if page.taxonomies.tags | length > 1 %}
    {% if loop.index != page.taxonomies.tags | length %}&nbsp;{% endif %}{% endif %}
  {% endfor %}
  </p>
 
  {% endif %}
  <div class="muted">
    <section>
      <a class="text text-color" href="{{ page.permalink }}#continue-reading"><span>{{ trans(key="label_read_more",lang=lang) }} </span>
        <span>{{ page.reading_time }} min &rarr;</span> </a>
    </section>
  </div>  
   <br>
  <hr class="w-1__2">
</article>
{% endmacro post_max %}


{% macro post_min(page) %}
<a href="{{ page.permalink }}">{{ page.title }}</a> <span class="muted text-sm">Updated on {{ page.updated }}</span>
{% endmacro post_min %}

{% macro page_toc(toc)%}
<section class="sidebar-table-content">
  <ul >
    <li><a href="#start">{{trans(key="label_back_to_start",lang=lang)}}</a></li>
  {% for h1 in toc %}
      <li>
          <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
          {% if h1.children %}
              <ul>
                  {% for h2 in h1.children %}
                      <li>
                          <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                      </li>
                  {% endfor %}
              </ul>
          {% endif %}
      </li>
  {% endfor %}
  </ul>
</section>
{% endmacro page_toc %}

{% macro paginator(ref, extra) %}
<div class="pagination py">
  <ul class="list-none flex justify-between">
    {% if ref.current_index != 1 %}
      <li><a class="no-underline" href="{{ ref.first }}">&larrb;</a></li>
    {% else %}
      <li class="disabled"><a class="no-underline" href="{{ ref.first }}">&larrb;</a></li>
    {% endif %}

    {% if ref.previous %}
      <li><a class="no-underline" href="{{ ref.previous }}">&larr;</a></li>
    {% else %}
      <li class="disabled"><a class="no-underline" href="#">&larr;</a></li>
    {% endif %}

    <li><a class="no-underline" href="{{get_url(path="@/archive/_index.md",lang=lang)}}">{{ ref.current_index }}/{{ ref.number_pagers }}</a></li>
    
    {% if ref.next %}
      <li><a class="no-underline" href="{{ ref.next }}">&rarr;</a></li>
    {% else %}
      <li class="disabled"><a class="no-underline" href="#">&rarr;</a></li>
    {% endif %}

    {% if ref.current_index != ref.number_pagers %}
      <li><a class="no-underline" href="{{ ref.last }}">&rarrb;</a></li>
    {% else %}
      <li class="disabled"><a class="no-underline" href="{{ ref.last }}">&rarrb;</a></li>
    {% endif %}
  </ul>
</div>
{% endmacro paginator %}

{% macro subscribe() %}
<div id="revue-embed">
  <form action="http://digests.owenyoung.com/add_subscriber" method="post" id="revue-form" name="revue-form"  target="_blank">
  <div class="revue-form-group">
    <label for="member_email">Email address</label>
    <input class="revue-form-field" placeholder="Your email address..." type="email" name="member[email]" id="member_email">
  </div>
  <div class="revue-form-group">
    <label for="member_first_name">First name <span class="optional">(Optional)</span></label>
    <input class="revue-form-field" placeholder="First name... (Optional)" type="text" name="member[first_name]" id="member_first_name">
  </div>
  <div class="revue-form-group">
    <label for="member_last_name">Last name <span class="optional">(Optional)</span></label>
    <input class="revue-form-field" placeholder="Last name... (Optional)" type="text" name="member[last_name]" id="member_last_name">
  </div>
  <div class="revue-form-actions">
    <input type="submit" value="Subscribe" name="member[subscribe]" id="member_submit">
  </div>
  <div class="revue-form-footer">By subscribing, you agree with Revue’s <a target="_blank" href="https://www.getrevue.co/terms">Terms of Service</a> and <a target="_blank" href="https://www.getrevue.co/privacy">Privacy Policy</a>.</div>
  </form>
</div>
{% endmacro subscribe %}

{% macro webmention(type,item) %}
{% if type == 'like-of' or type == "repost-of" or type == "bookmark-of" or type == "follow-of" %}
<li class="list-none">
  <a
        class="reaction"
        rel="nofollow ugc"
        title="{{item.author.name}} {% if item.published %}at {{ item.published }}{% endif %}"
        href="{{item.author.url}}"
      >
        {% if item.author.photo %}
        <img alt="{{item.author.name}}" class="icon rounded-full" src="{{item.author.photo}}">
        {% endif%}
      </a>
</li>
{% elif item.content.html %}
<li class="card mb-lg rounded-lg list-none px py">
  <div class="flex items-center flex-wrap">
    {% if item.author.photo %}
      <a
      rel="nofollow ugc"
      title="{{item.author.name}}"
      href="{{item.author.url}}"
      class="mr-sm"
    >
      <img alt="{{item.author.name}}" class="rounded-full icon" src="{{item.author.photo}}">
    </a>
  {% endif%}
{% if item.author and item.author.name %}
  <a
  rel="nofollow ugc"
  class="mr-sm"
  title="{{item.author.name}}"
  href="{{item.author.url}}"
>
{{ item.author.name }}
</a>
{% else %}
<span class="mr-sm">Unknown</span>
{% endif %}
{% if item.published %}
{% set key = "label_action_"~type %}
<span class="mr-sm">{{config.extra[key]}} on</span>
<a
  rel="nofollow ugc"
  title="{{ item.published }}"
  href="{{item.url}}"
>{{ item.published | date() }}</a>
{% endif %}
<span>:</span>
  </div>
  
<div>
  {{ item.content.html | safe }}   

</div>
</li>
{% endif %}

{% endmacro webmention %}