{% extends "base.html" -%}
{%- set_global lang_prefix_path = "/" -%}
{%- if config.default_language != lang -%}
  {%- set_global target_lang = "zh" -%}
  {%- set_global lang_prefix_path = "/"~lang~"/" -%}
{%- endif -%}
{% block post_meta -%}
<meta name="title" content="{{ page.title }}">
{% endblock post_meta -%}
{% block header %}
  {% block detail_meta -%}
    <header class="header post-header" id="overview">
       {% block breadcrumbs -%}
        <div class="pb">
          <a class="" href="{{ get_url(path="@/_index.md",lang=lang) }}">{{ trans(key="label_home",lang=lang) }}</a>
          <span class="divider">&nbsp;&gt;&nbsp;</span>
          <a class="" href="{{ lang_prefix_path }}categories/">All Categories</a>
          {% if page.taxonomies.categories %}
          <span class="divider">&nbsp;&gt;&nbsp;</span>
          <a  class="category" href="{{ get_taxonomy_url(kind="categories", name=page.taxonomies.categories[0]) }}"> {{ page.taxonomies.categories[0] }}</a>
          {% endif %}
          {% if page.taxonomies.kinds %}
          <span class="divider">&nbsp;&gt;&nbsp;</span>
          <a class="category no-underline" href="{{ get_taxonomy_url(kind="kinds", name=page.taxonomies.kinds[0]) }}">{{ page.taxonomies.kinds[0] }}</a>
          {% endif %}
          <span class="divider">&nbsp;&gt;&nbsp;</span>
          {{ page.title }}
        </div>
      {% endblock breadcrumbs %}
      <div>
        <h1 class="no-border pt0 p-name entry-title" >{{ page.title }}</h1>
        <div class="display-none p-author h-card vcard">
          <img class="u-photo icon" alt="Owen" src="{{ get_url(path="site/images/favicon-96x96.png",cachebust=true) }}"/>
          <a class="p-name u-url url u-uid" href="{{ config.extra.indieweb_url }}">{{ config.extra.author }}</a>
          <p class="p-note">{{ config.extra.bio }}</p>
        </div>
      </div>
      {% block detail_meta_slot %}{% endblock detail_meta_slot %}
    </header>
  {% endblock detail_meta -%}
{% endblock header %}
{% block main %}
<div class="h-entry hentry detail-page">
<div class="page-body">
    <div class="display-none p-summary">
      {{ page.summary | safe }}
    </div>
    <a class="display-none u-url" href="{{ current_url }}">Permanent Link</a>
    {% if page.toc %}
      <div class="main-toc pb">
        <details>
          <summary>{{ trans(key="label_table_contents",lang=lang) }}</summary>
          {{ macro::page_toc(toc=page.toc,lang_prefix_path=lang_prefix_path) }}
        </details>
      </div>
    {% endif %}
    <div id="start"></div>
    <article class="e-content entry-content">
      {{ page.content | safe }}
      <div class="display-none"><a class="u-bridgy-fed" href="https://fed.brid.gy/"></a></div>
    </article>
      {% if page.date %}
        <div class="muted">
          <div class="pb">
            {% if page.taxonomies and page.taxonomies.categories %}
            <span>{{ trans(key="label_category",lang=lang) }}</span>: <a rel="category tag" class="p-category category" href="{{ get_taxonomy_url(kind="categories", name=page.taxonomies.categories[0],lang=lang) }}">{{ page.taxonomies.categories[0] }}</a>&nbsp;
            {% endif %}
          </div>
          {% if page.taxonomies.tags %}
            <div class="inline-block p-tags pb">
              {% if  page.taxonomies.tags | length > 0 %}
              <span>{{ trans(key="label_tags",lang=lang) }}</span>:&nbsp;
              {% endif %}
              {% for tag in page.taxonomies.tags %}
                <a class="p-tag" href="{{ get_taxonomy_url(kind="tags", name=tag,lang=lang) }}">{{ tag }}</a>
                {% if page.taxonomies.tags | length > 1 %}
                  {% if
        loop.index != page.taxonomies.tags | length %},&nbsp;{% endif %}
                {% endif %}
              {% endfor %}
              </div>
          {% endif %}
            <div class="pb">
              {% set page_date = page.date | date(format="%Y.%m.%d") %}
              {% set page_updated = page.updated | date(format="%Y.%m.%d") %}
              {% if page.date %}
                {{ trans(key="label_created",lang=lang) }}:&nbsp;
                <time class="dt-published published" datetime="{{ page.date }}">{{ page.date | date(format="%Y.%m.%d") }}</time>
              {% endif %}
              {% if page.updated and page_date != page_updated %}
                · {{ trans(key="label_updated",lang=lang) }}:&nbsp;
                <time class="dt-updated updated" datetime="{{ page.updated }}">{{ page.updated | date(format="%Y.%m.%d") }}</time>
              {% endif %}
              {% if config.extra.edit_url_prefix %}
                <a class="muted" href="{{ config.extra.edit_url_prefix~page.relative_path }}">&nbsp;📝 {{ trans(key="label_edit",lang=lang) }}</a>
              {% endif %}
            </div>
          </div>
      {% endif %}
      {{ macro::backlink(pages=page.backlinks) }}
      <iframe src="https://embeds.beehiiv.com/482231fd-f9a5-4134-8237-6f00fdadf0e1?slim=true" data-test-id="beehiiv-embed" height="52" frameborder="0" scrolling="no" style="margin: 0; border-radius: 0px !important; background-color: transparent;"></iframe>
      <p class="text-sm mt mb-lg">该博客没有评论系统，我正在实验有意义的讨论是否更易在社群中发生，不知道为什么，人在社群中，似乎会有更好的行为规范。然后如果有高质量的讨论，我会手动再精选到原文。为此，我建立了一个 <a target="_blank" href="https://t.me/+c2drnwCso55mMjBh">Telegram 讨论群组</a>，你可以在里面讨论这篇文章，<a href="#" id="copyButton">点此复制文章标题和链接</a>&nbsp;<span id="copyStatus"></span>。</p>

  </div>
</div>
{% endblock main %}
{% block sidebar %}
  <aside class="sidebar px {% if page.toc %}{% else %}no-toc{% endif %}">
    {% if page.toc %}
      <h2 class="pt0">{{ trans(key="label_table_contents",lang=lang) }}</h2>
      {{ macro::page_toc(toc=page.toc,lang_prefix_path=lang_prefix_path) }}
    {% endif %}
  </aside>
{% endblock sidebar %}

{% block before_body_end -%}

<script>
  document.getElementById('copyButton').addEventListener('click', function(event) {
    event.preventDefault();
    var text = '《{{ page.title }}》 ' + window.location.href;
    var textArea = document.createElement('textarea');
    textArea.textContent = text;
    document.body.append(textArea);
    textArea.select();
    document.execCommand('copy');
    document.body.removeChild(textArea);
    document.getElementById('copyStatus').textContent = '已复制 ✅';
    setTimeout(function() {
      document.getElementById('copyStatus').textContent = '';
    }, 1500);
  });
</script>
{% endblock before_body_end -%}
