{% extends "base.html" -%}
{% block header %}
      <header id="overview" class="pt">
        <div class="">
          <span>&gt;&gt;</span>
          <a href="{{ get_url(path="@/_index.md",lang=lang) }}">{{ trans(key="label_home",lang=lang) }}</a>
          {% if section.title -%}
            <span class="divider">
              /
            </span>
            {{ section.title }}
          {% endif -%}
        </div>
      </header>
{% endblock header %}
{% block main -%}
{% set_global file_lang_path = "" %}
{% if config.default_language != lang %}
  {% set_global file_lang_path = "." ~
lang %}
{% endif %}
{% block rss %}
  {% set rss_path = section.path ~ "atom.xml" %}
  <link rel="alternate" type="application/atom+xml" title="{{ section.title }} - {{ config.title }} RSS" href="{{ get_url(path=rss_path, trailing_slash=false) }}">
  {% endblock rss %}
  <div class="section-page">
    <div class="h-feed hfeed">
      <div class="display-none">
        <div class="p-name site-title">{{ config.title }}</div>
        <p class="p-summary site-description">{{ config.description }}</p>
      </div>
      {% if paginator %}
        {% for page in paginator.pages %}
          {{ macro::post_max(page=page,index=loop.index) }}
        {% endfor %}
        {{ macro::paginator(ref=paginator,
  extra=config.extra) }}
      {% else %}
        {% for page in section.pages %}
          {{ macro::post_max(page=page,index=loop.index) }}
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock main -%}
